@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo-input: white;
    --cor-padrao-1: #ffff00;
    --cor-padrao-2: #c80d77;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, var(--cor-padrao-2) 20%, var(--cor-padrao-1) 130%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section {
    flex: 1 1 250px;
    max-width: 575.98px;
    height: 250px;
    background-image: linear-gradient(45deg, var(--cor-padrao-1) 20%, var(--cor-padrao-2) 130%);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

form {
    flex: 1 1 auto;
    margin: 10px;
    border: 1px solid blue;
}

label {
    display: block;
    border: 1px solid green;
}



input {
    display: block;
    height: 45px;
    border-radius: 5px;
    border: none;
    margin: 5px 0px;
}

input[type=text] {
    background: var(--cor-fundo-input) url(../imagens/icone-usuario.png) no-repeat 10px center;
    font-size: 1.2em;
    padding-left: 40px;
}

input[type=password] {
    background: var(--cor-fundo-input) url(../imagens/icone-cadeado.png) no-repeat 10px center;
    font-size: 1.2em;
    padding-left: 40px;
}

input[type=submit] {
    background-color: var(--cor-fundo-input);
    font-size: 1.2em;    
}

input[type=submit]:hover {
    background-color: var(--cor-padrao-2);
    cursor: pointer;
    font-size: 1.2em;
    color: var(--cor-padrao-1);
    border: 1px solid var(--cor-padrao-1);
}