@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.login p {
    margin-bottom: 35px;
}

.login h1 {
    text-transform: uppercase;
}

div.login {
    flex: 1 1 auto;
    height: 175px;
    padding: 15px;
    margin: 0px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: aqua;
}

div.form {
    flex: 1 1 auto;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: azure;
}